.js-list-item{
    list-style: none;
}

.js-list-div{
    height: 380px;
    width: 300px;
    border:solid 2px #892232;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.js-showName{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
}
.js-image{

    width: 180px;
    height: 270px;
    padding-top: 30px;
    text-align: center;
    
}